@model UCDBProdutos.Application.Models.Pedido
@{
    ViewBag.Title = "Pedido - Cadastrar";
}

      <form method="post">
        <input type="hidden" name="id" value="@Model.Id"/>
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" name="NomeProduto" value="@Model.NomeProduto" class="form-control" id="NomeProduto" placeholder="Digite o nome do produto">
        <label for="nome">Valor</label>
        <input type="text" name="Valor" value="@Model.Valor" class="form-control" id="Valor" placeholder="Digite o valor do produto">
        <label for="nome">Data Vencimento</label>
        <input type="text" name="DataVencimento" value="@Model.DataVencimento" class="form-control" id="DataVencimento" placeholder="Digite da data de vencimento do produto">
    </div>

        <button type="submit" class="btn btn-primary">Salvar</button>

      </form>


